@import "normalize.css";

*{
    font-family: 'Roboto', sans-serif;
}

.background_logo{
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    opacity: 0.3;
}

.background_pokemon{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    opacity: 0.1;
}

.header_pokemon{
    display:flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.type_pokemon{
    display:flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: .5rem;
    width: fit-content;
}

p{
    margin: 0;
    font-size: 0.8rem;
    width: auto;
    padding: 6px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.161);
    border-radius: 16px;
}

h1 {
    margin: 0.5rem;
}

body{
    padding: 4px;
}

li{
    list-style: none;
    border-radius: 8px;
    padding: 1.5rem 1rem;
    height: 120px;
    background-color: green;
    color: white;
    position: relative;
    overflow: hidden;
}

ol{
    display: grid;
    grid-template-columns: repeat(auto-fit, 180px);
    gap: 8px;
    margin: 0;
    justify-content: space-evenly;
    justify-items: stretch;
    padding: 0;
}

li img{
    max-width: 7rem;
    position: absolute;
    right: .2rem;
    bottom: 1rem;
}
