*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.content{
    padding: 1rem;
}

.content h1{
    margin: 0;
}

ol.pokemons{
    /*Define as colunas*/
    display: grid;
    grid-template-columns: 1fr 1fr;

    /* Define as margens das colunas */
    list-style: none;
    padding: 0;
    margin: 0;
}

ol.pokemons li{
    /* Define o espaçamento de cada listagem de pokemon */
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 2rem 1rem;
    border-radius: 1rem;
    /* Define as cores */
    background-color: #14A06F;
    color: white;
}

ol.pokemons li img{
    max-width: 100%;
    height: 110px;
    align-self: flex-end;
}